@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.base-modal-buttons-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}

.base-modal-buttons-wrap button {
  margin-bottom: 100px;
}

.base-modal-buttons-wrap button {
  font-size: 20px;
  backdrop-filter: blur(30px);
  background: none;
  border: 0.1vh solid rgb(67, 83, 52);
  /*box-shadow: 0.5vh 0.5vw 0.5vw rgb(67, 83, 52), 0.5vh 0.5vh 1vw rgb(67, 83, 52);*/
  border-radius: 1vw;
  padding: 4vh 4vh;
  cursor: pointer;
  transition: 0.89s;
  animation: pulseShadow 3.5s infinite;
}

.base-modal-buttons-wrap button:hover {
  scale: 1.1;
}

.base-modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.base-modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 999;
}

.modal__content {
  padding: 20px;
  border-radius: 10px;
  background: #9eb384;
  transform: scale(0);
  transition: 0.4s all;
  width: 60vw;
  height: 80vh;
  border: 0.5vh solid #435334;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal__content.active {
  transform: scale(1);
}

.base-modal-logo {
  background: url("../assets/fullblack.png") center center/cover no-repeat;
  width: 30vw;
  height: 15vh;
  margin: 0 auto 10vh;
}

.base-modal-letter {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: end;
}

@keyframes pulseShadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0.5vh 0.5vw 0.5vw #14400e, 0.5vh 0.5vh 0.5vw #14400e; /* Включение тени на 50% */
  }
  100% {
    box-shadow: none;
  }
}