.data-base-head {
  background: #435334;
  padding: 20px;
}

.data-base {
  background-color: #faf1e4;
  border-radius: 5px;
  font-size: 14px;
}

.data-base-wrap {
  display: flex;
  height: calc(100vh - 162px);
}

.data-base-all-client-list {
 border-right: 1px solid black;
  width: 50%;
  overflow: auto;
}


.data-base-all-client-menu {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.18fr;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background: #9eb384;
}


.data-base-every-client {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.18fr;
  border-bottom: 1px solid black ;
  cursor: pointer;
}

.data-base-every-client-type-of-base {
  font-size: 20px;
}

.data-base-selected {
  background: #9eb384;
}

.data-base-every-client:hover {
  background: #9eb384;
}

.data-base-every-client-name {
  border-right: 1px solid black;
  padding-left: 20px;
}

.data-base-every-client-address {
  border-right: 1px solid black;
}

.data-base-every-client-price {
  cursor: pointer;
}

.data-base-every-client-price:hover {
  background: #435334;
}

@media (max-width: 490px) {
  .data-base-head {
    background: #435334;
    padding: 2vh 0 0 0;
  }

  .data-base-wrap {
    display: block;
    height: calc(100vh - 175px);
  }

  .data-base-all-client-list {
    width: 100%;
    font-size: 12px;
    height: 100%;
    border-bottom: 0.5vh solid #435334;
    transition: 0.5s ease-in-out;
  }

  .data-base-all-client-list-active {
    height: 10%;
    transition: 0.5s ease-in-out;
  }

  .data-base-wrap .detailed-info-border-box {
    width: 100%;
    height: 90%;
  }

  .detailed-info-border-box .detailed-info-our-information,
  .detailed-info-border-box .detailed-info-our-information-link,
  .detailed-info-border-box .detailed-info-our-information-link a,
  .detailed-info-public-description,
  .detailed-info-public-final-description,
  .detailed-info-every-comment
  {
    font-size: 10px;
  }

  .detailed-info-comment-head {
    font-size: 14px;
  }

  .detailed-info-button-flex {
    display: none;
  }

  .detailed-info-button-flex .detailed-info-admin-btn {
    display: none;
  }

  .detailed-info-button-flex .detailed-info-close-btn {
    display: block;
  }

}