.detailed-info-border-box {
  width: 50%;
  overflow-y: auto;
  border-top: 1px solid black;
}

.detailed-info-button-flex {
  display: flex;
}

.detailed-info-our-information {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
}

.detailed-info-close-btn {
  display: none;
}

.detailed-info-our-information-link {
  margin: 15px auto;
  text-align: center;
}

.detailed-info-our-information-link a {
  color: black;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}

.detailed-info-our-information-link a:hover {
  color: green;
}


.detailed-info-public-description {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.detailed-info-public-description-elements {
  margin: 10px 0 0 20px;
}

.detailed-info-public-final-description {
  margin: 10px  20px;
  text-align: center;
}

.detailed-info-public-comments {
  margin: 10px  20px;
  text-align: center;
}

.detailed-info-tickets {
  text-align: center;
  margin: 10px 20px;
}

.detailed-info-ticket-head {
  border-top: 1px solid black;
}

.detailed-info-ticket {
  cursor: pointer;
  width: max-content;
  color: blue;
}

.detailed-info-comment-head {
  border-bottom: 1px solid black;
  padding: 10px 0;
  border-top: 1px solid black;
}

.detailed-info-every-comment {
  border-bottom: 1px solid black;
}

.detailed-info-comment-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailed-info-every-comment-author {
  font-style: italic;
  font-weight: 500;
  /*font-size: 17px;*/
}


.detailed-info-comment {
  margin: 10px 5px;
  text-align: start;
}

.detailed-info-comment-admin {
  color: red;
}

.detailed-info-textarea-field {
  text-align: center;
}

/* тело полосы скролла*/
::-webkit-scrollbar {
  width: 8px; /* Ширина полосы прокрутки */
}

/* само тело скролла */
::-webkit-scrollbar-thumb {
  background-color: #1C3334; /* Цвет "бегунка" */
  border-radius: 25px; /* Закругление углов "бегунка" */
}

/*Фон скролла*/
::-webkit-scrollbar-track {
  background-color: wheat;
  border-radius: 25px;
}

#outlined-multiline-static-label {
  width: 90%;
}