@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Oswald:wght@600&display=swap');

.header-bases-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header-flex {
  display: flex;

}

.header-head-button, .header-head-button span  {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  cursor: pointer;
  width: max-content;
  margin: 0 auto;
}

.header-head-button-active {
  color: #9eb384;
  border-bottom: 0.5vh solid #9eb384;
}


.header-head-buttons-flex-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px auto 0;
}

.header-search-filter-field {
  text-align: center;
}

.header-search-filter-field-more-filters {
  width: 30px;
}

.header-head-buttons-price  input {
  max-width: 60px;
}

.header-id-field {
  max-width: 60px;
}

.header-id-field input {
  height: 1em;
}


.header-head-buttons-right {
  display: flex;
  justify-content: right;
}

.header-head-buttons-more-filters {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-filters-active {
  opacity: 1;
  height: 30px;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


#header-min-price, #header-max-price {
  height: 1em;
}

#header-rooms-filter, #header-type-of-housing-filter {
  padding: 5px 7px;
}

#header-sort-by-price {
  padding: 5px 25px 5px 7px;
}

.header-head-btns .MuiBadge-badge {
  font-size: 0.6rem;
  min-width: 10px;
  top: -10%;
  right: 10%;
}

.more-filters-active .MuiFormControl-root, .header-head-buttons-more-filters .MuiFormControl-root {
  margin: 0 !important;
}

@media (max-width: 490px) {
  .header-bases-wrap {
    display: flex;
  }

  .header-potential-base, .header-not-relevant-base  {
    display: none;
  }

  .header-head-buttons-flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-head-buttons {
    display: none;
  }

  .header-head-buttons-right {
    display: none;
  }

  .more-filters-active {
    height: 195px;
    flex-direction: column;
    text-align: center;
  }

  .header-head-buttons-more-filters {
    height: 0px;
    flex-direction: column;
    text-align: center;
  }

  .more-filters-active .MuiFormControl-root, .header-head-buttons-more-filters .MuiFormControl-root {
    margin: 6px !important;
  }
}