@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}

.container {
  position: fixed;
  z-index: 100000;
  transition: 300ms;
  background-color: #faf1e4;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imageContainer {
  background-color: #435334;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.imageContainer > img {
  height: 50px;
}
.navigation {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.navigation > button {
  border: 1px solid rgb(212, 212, 212);
  background-color: #cedebd;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.navigation > button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.navigation > button:active {
  background-color: #9eb384;
}
.btnLogo {
  margin-left: 20px;
}
.btnLabel {
  margin-left: 10px;
}
.open {
  width: 250px;
  transition: 300ms;
}
.centered {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.centered > img {
  margin-left: 0;
}
.hidden {
  display: none;
}
.navigation > button > p {
  color: wheat;
}


@media (max-width: 490px) {
  .container {
    display: none;
    z-index: 0;
  }
}

.darkTheme {
  background: #1C3334 !important;
  transition: 0.5s ease-in-out;
}

.darkThemeCold {
  background: #2F4454 !important;
  transition: 0.5s ease-in-out;
}