.site-admin-panel-wrap {
    height: calc(100vh - 110px);
    display: flex;
}

.site-admin-panel-every-flat {
    cursor: pointer;
    margin: 5px 0 0;
}

.site-admin-panel-every-flat-active {
    background: #9eb384;
}

.site-admin-panel-every-flat:hover {
    background: #9eb384;
}

.site-admin-panel-list {
    width: 35%;
    border-right: 1px solid black;
}

.site-admin-panel-every-flat-detailed-info {
    width: 65%;
    overflow-y: auto;
}

.site-admin-panel-head-buttons {
    border: 1px solid black;
}