.site-admin-panel-container {
    margin: 0 auto 50px;
}

.site-admin-panel-add-title {
    text-align: center;
    margin: 0 auto;
}

.site-admin-panel-clear-input {
    display: block;
}

.site-admin-panel-inputs {
    display: block;
    margin: 10px auto;
    height: 35px;
    width: 70%;
}